body {
  background-color: whitesmoke;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
color: salmon
}

h2 {
  font-family: 'Turret Road', cursive;
  text-align: center;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: inline-block;
  padding: 4%;
  margin: auto;
}

table {
  background-color:white;
  padding: 20px;
  margin: auto;
  border-style: outset;
  border-radius: 5px;
  border-color: salmon;
}

td:first-of-type {
  text-align: left;
}

td:hover {
  background-color: salmon;
}

th:hover {
 background-color: pink;
}

td {
  padding: 2px;
  border-style: inset;
  border-radius: 5px;
  border-color: pink;
  text-align: right;
}

th {
  border-style: outset;
  border-radius: 5px;
  border-color: salmon;
  text-align: left;
}

th{
  padding-left: 5px;
  padding-right: 5px;
}

tfoot td {
  border-style: outset;
  border-radius: 5px;
  border-color: salmon;
}

tfoot td:hover {
  background-color: pink;
}

tfoot td:first-of-type {
  text-align: right;
}

form {
  text-align: center;
}